/********* THIS THE CSS FOR THE HOME 3 PAGE ONLY AND
 I'M USING A LOT OF FLEX BOX ON THIS PAGE THERE WILL BE A MINIMAL OF BOOTSTRAP*/
html,
body {
    margin : 0;
    padding: 0;
    height : 100%;
    width  : 100%;
}

.navette {
    display        : flex;
    justify-content: center;
    align-items    : center;
}


.navette>div {
    margin : 20px;
    padding: 0px 30px 0px 30px;
}

.block_link_no_logo_home3 {
    display: flex;
}

.block_link_no_logo_home3>a {
    margin : 10px;
    padding: 20px;
}

.block_link_with_logo_home3 {
    display: flex;
}

.block_link_with_logo_home3>a {
    margin : 5px;
    padding: 10px;
}

img {
    object-fit: contain;
}