/********* THIS THE CSS FOR THE HOME 3 PAGE ONLY AND
 I'M USING A LOT OF FLEX BOX ON THIS PAGE THERE WILL BE A MINIMAL OF BOOTSTRAP*/
body {
    margin : 0;
    padding: 0;
}

.navette {
    display        : flex;
    justify-content: center;
    align-items    : center;
}


.navette>div {
    margin : 10px;
    padding: 20px;
}

.block_link_no_logo_home3 {
    display: flex;
    margin : 10px;
    padding: 20px;

}